* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 1280px;
    height: 1626px;
    margin: 0 auto;
}

.header {
    text-align: center;
}

.header-menu {
    margin: 0;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    list-style: none;
    text-align: center;
}

.header-menu li {
    display: inline;
}

.header-menu a {
    width: 15px;
    padding-left: 72px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF0000;
    letter-spacing: 2.7px;
}

.content {
    width: 100%;
}

.text-container {
    width: 1145px;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 10px;
}

.text-header {
    padding-bottom: 10px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    line-height: 27px;
    letter-spacing: 3.3px;
}

.text-content {
    margin-top: 28px;
    margin-bottom: 0;
    text-align: center;
    font-size: 16px;
    color: #373737;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.main-button {
    text-decoration: none;
}

.main-button {
    text-decoration: none;
}

.button {
    margin: 72px auto 82px auto;
    background-color: #FF0000;
    color: #fff;
    width: 191px;
    height: 51px;
    font-size: 12px;
    font-weight: bold;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    border-radius: 4px;
}

.footer {
    width: 1175px;
    height: 108px;
}

.footer-text {
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #373737;
    line-height: 20px;
    letter-spacing: 2.4px;
}